<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Drug</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Edit Drug Details</h1>

<form method="post">
    Name: <input type="text" name="name" value="{{ drug.name }}"><br><br>
    Quantity: <input type="number" name="quantity" value="{{ drug.quantity }}"><br><br>
    Price: <input type="text" name="price" value="{{ drug.price }}"><br><br>
    Expiration Date: <input type="date" name="expiration_date" value="{{ drug.expiration_date }}"><br><br>

    <button type="submit">Update Drug</button>
</form>

<a href="{{ url_for('index') }}">Back to Drug List</a>

</body>
</html>